h1 {
	color: black;
	font-size: 32px;
	margin-bottom: 8px;
}

ol {
	margin-top: 0px;	
	margin-bottom: 0px;	
}

.instructions {
	text-align: center;
	margin-bottom: 32px;
}

.attempt-row {
	clear:both;
	margin-bottom: 8px;
	text-align: center;
    display: flex;
    justify-content: center;
}


.char-button {
	border: none;
	font-family: Cursive;
	float: left;
	font-size: 24px;
	height: 32px;
	width: 32px;
	margin-right: 4px;
	line-height: 0;
}

.next-button {
	border: none;
	font-family: Cursive;
	float: left;
	font-size: 24px;
	height: 32px;
	width: 96px;
	background: white;
}