h1 {
	color: black;
	font-size: 24px;
	margin-bottom: 4px;
}

ol {
	margin-top: 0px;	
	margin-bottom: 0px;	
}

.instructions {
	text-align: center;
	margin-bottom: 24px;
	font-size: 16px;
}

.attempt-row {
	clear:both;
	margin-bottom: 8px;
    display: flex;
    justify-content: center;
}


.char-button {
	border: none;
	font-family: Cursive;
	float: left;
	font-size: 20px;
	height: 28px;
	width: 28px;
	margin-right: 4px;
	line-height: 0;
}

.next-button {
	border: none;
	font-family: Cursive;
	float: left;
	font-size: 20px;
	height: 28px;
	width: 96px;
	background: white;
}

.reset-button {
	margin-top: 8px;
	border-radius: 15px;
	font-family: Cursive;
	font-size: 24px;
	height: 32px;
	width: 128px;
	background: tomato;
	line-height: 0;
	border-width: 0;
}

.reset-container {
	display:flex;
    justify-content: center;
}